.filling{
	height: 100%;
}

.footer{
	bottom: 0;
	background-color: #f0f0f0;
	padding: 2% 0;
}

.title{
	padding-bottom: 20px;
	font-size: 52px;
	border-bottom: 1px solid #eee
}

.content{
	display: block;
	height: 70%;
}

#button {
	background: #2a52a2;
	border-radius: 3px;
	padding: 8px 30px;
	border: none;
	color: #fff;
	margin: 20px 0px;
}

#title{
	margin-top: 40px;
	height: 50px;
}

.sectitle{
	padding: 20px 0px 30px 0px;
}

#chart{
	text-align: center;
}

#chart h4{
	margin-top:15px;
}